.wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
}

#Nombre{
  text-align: center;
  background-color: magenta;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

img {
  max-width: 100%;
}

.capsules{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.company{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}